################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrchardCore.Cms.Web1/FileContentIndex/0d42fe1b-3d03-4623-a8fe-d171781de86f.vsidx
# Visual Studio temporary files
.vs/
*.user
*.suo
[Bb]in/
[O]bj/