@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Themes/FastTheme/css/site.css" />
</head>
<body>
    <header>
        <h1>FastTheme</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>© 2025</p>
    </footer>
</body>
</html>
