@using OrchardCore.Cms.Module1.ViewModels
@model UrgencyPartViewModel

<div>
    <ul>
        <li><strong>Title:</strong> @Model.Title</li>
        <li><strong>Desc:</strong> @Model.Description</li>
        <li><strong>Urgency:</strong> @Model.UrgencyMeter</li>
        <li><strong>Updated:</strong> @Model.UpdatedAt</li>
    </ul>
</div>